/* ALL MEDIA QUERRIES TO MAKE WEBSITE RESPONSIVE */

/* Landscape Tablets - 1200px */
@media (max-width: 75em) {
  /* Reduce font size of all elements */
  html {
    font-size: 56%;
  }

  /* Decrease width of hero image */
  .hero-img img {
    width: 65%;
  }

  /* Reduce Navbar spacing */
  .navbar-contents {
    gap: 3.6rem;
  }
}

/* Tablets - 950px */
@media (max-width: 60em) {
  /* Make hero section one column */

  .full-navbar {
    align-items: end;
  }

  .hero-box {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 2rem;
    margin-top: 6.4rem;
    margin-bottom: 9.6rem;
  }

  /* Center the hero image */
  .hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Reduce size of skills items */
  .skills-grid-item {
    width: 9rem;
  }

  /* Make testimonials section 2x2 grid */
  .testimonials-grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  /* Breathing room for blog section */
  .articles-cards-wrapper {
    gap: 2.4rem;
    padding: 0;
  }

  /* Make services section a 1x2 grid  */
  .services-grid-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .services-grid-wrapper > :nth-child(3) {
    grid-column: 1 / span 2;
    text-align: center;
  }

  .service-description {
    text-align: left;
  }

  /* MOBILE & TABLET NAVIGATION */
  .button-mobile-nav {
    display: block;
    z-index: 1;
  }

  .button-mobile-nav .fa-solid.fa-bars {
    display: block;
  }

  .button-mobile-nav .fa-solid.fa-x {
    display: none;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;

    transition: all 0.5s;
    pointer-events: none;
    visibility: hidden;

    transform: translateX(100%);
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .fa-solid.fa-x {
    display: block;
  }

  .nav-open .fa-solid.fa-bars {
    display: none;
  }

  .navbar-contents {
    flex-direction: column;
    gap: 4.8rem;
    font-size: 3rem;
  }

  .full-navbar {
    padding: 2.4rem 6.4rem;
  }

  button:hover {
    background-color: transparent;
  }
}

/* SMALLER TABLETS - 700px */
@media (max-width: 44em) {
  /* HERO */
  .hero-box {
    height: auto;
  }

  /* SKILLS SECTION - 3x3 */
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  /* PROJECTS SECTION */
  .projects-flexbox {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }

  .img-box img {
    width: 100%;
  }

  .project-description-text {
    font-size: 1.8rem;
  }

  /* BLOG SECTION */
  .articles-cards-wrapper {
    grid-template-columns: 1fr;
    gap: 4.8rem;
    justify-items: center;
  }

  .article-2 {
    margin-bottom: 3.2rem;
  }

  .article-3 {
    margin-bottom: 3.2rem;
  }

  /* SERVICES */
  .services-grid-wrapper {
    grid-template-columns: 1fr;
  }

  .services-grid-wrapper > :nth-child(3) {
    grid-column: auto; /* Resets the grid-column property to its default value */
    text-align: inherit; /* Resets the text-align property to its inherited value, or you can use 'left' if that's the original alignment */
  }
}

/* MOBILE DEVICES - 550px */
@media (max-width: 35em) {
  .container {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  /* HERO */
  .hero-box {
    padding: 0 3.2rem;
  }

  .hero-img img {
    width: 80%;
  }

  /* TESTIMONIALS */
  .testimonials-grid-container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .testimonials-img-wrapper img {
    width: 30%;
  }

  /* PROJECTS */
  .more-projects {
    font-size: 2rem;
  }

  /* BLOG */
  .article-card {
    margin: 0 2.8rem;
  }

  /* CONTACT */
  .contact-form {
    width: 100%;
  }

  .fa-brands.fa-8x {
    font-size: 4rem;
  }

  .contacts-container {
    padding-bottom: 2.4rem;
  }

  .social-media-wrapper {
    margin-bottom: 2.4rem;
  }

  /* FOOTER */
  .footer-text {
    font-size: 1.2rem;
  }
}
