/* ALL MEDIA QUERRIES TO MAKE WEBSITE RESPONSIVE */

/* Landscape Tablets - 1200px */
@media (max-width: 75em) {
  /* Reduce font size of all elements */
  html {
    font-size: 56%;
  }

  /* Decrease width of hero image */
  .hero-img img {
    width: 65%;
  }

  /* Reduce Navbar spacing */
  .navbar-contents {
    gap: 3.6rem;
  }
}

/* Tablets - 950px */
@media (max-width: 60em) {
  /* Make hero section one column */
  .hero-box {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 2rem;
    margin-top: 9.6rem;
    margin-bottom: 9.6rem;
  }

  /* Center the hero image */
  .hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Reduce size of skills items */
  .skills-grid-item {
    width: 9rem;
  }

  /* Make testimonials section 2x2 grid */
  .testimonials-grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  /* Breathing room for blog section */
  .articles-cards-wrapper {
    gap: 2.4rem;
    padding: 0;
  }

  /* Make services section a 1x2 grid  */
  .services-grid-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .services-grid-wrapper > :nth-child(3) {
    grid-column: 1 / span 2;
    text-align: center;
  }

  .service-description {
    text-align: left;
  }

  /* MOBILE & TABLET NAVIGATION */
  .button-mobile-nav {
    display: block;
    z-index: 1;
  }

  .fa-bars {
    display: block;
  }

  .fa-x {
    display: none;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;

    transition: all 0.5s;
    pointer-events: none;
    visibility: hidden;

    transform: translateX(100%);
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .fa-x {
    display: block;
  }

  .nav-open .fa-bars {
    display: none;
  }

  .navbar-contents {
    flex-direction: column;
    gap: 4.8rem;
    font-size: 3rem;
  }
}
