/* NAV BAR */

header {
  font-size: 1.8rem;
  font-weight: 400;
}

.full-navbar {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 4.8rem;
  font-weight: 500;
}

.navbar-name {
  color: var(--text-color-1);
  text-decoration: none;
}

.navbar-contents {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 4.8rem;
}

.navbar-item:link,
.navbar-item:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  transition: all 0.3s;
}

.navbar-item:hover,
.navbar-item:active {
  color: var(--link-color);
  text-decoration: underline;
  text-underline-offset: 3px;
}

/* HERO */

.hero-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  max-width: 130rem;
  margin: 0 auto;
  height: 80vh;
  padding: 0 9.6rem;
}

.hero-title {
  font-size: 3.6rem;
  font-weight: 700;
  color: var(--text-color);
  letter-spacing: -1px;
  margin-bottom: 2.8rem;
}

.hero-img {
  display: flex;
  justify-content: end;
}

.hero-img img {
  width: 80%;
  border-radius: 5%;
}

/* SKILLS SECTION */

.skills {
  background-color: #222;
  background-image: radial-gradient(#333 2px, transparent 2px);
  background-size: 30px 30px;
  padding: 3rem 0;
}

.skills-title {
  color: var(--text-color-2);
}

.skills-container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 2.4rem;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 3.6rem;
  justify-content: center;
  margin: 0 22rem;
}

.skills-grid-item {
  width: 12rem;
  transition: all 0.3s;
}

.skills-grid-item:hover {
  transform: scale(1.3);
}

/* TESTIMONIALS SECTION */

.testimonials-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.testimonials-grid-item {
  padding: 20px;
  text-align: center;
}

/* PROJECTS SECTION */

.projects-flexbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.8rem;
}

.img-box img {
  width: 80%;
}

.project-description-heading {
  color: var(--dark-blue);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.project-description-text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 1.2rem;
}

.project-sc-button {
  color: #fff;
  background-color: #333;
  font-size: 1.2rem;
  font-weight: 500;
  display: inline-block;
  padding: 0.6rem 1.2rem;
  margin: 1.2rem 0;
  border-radius: 8px;
}

.more-projects {
  font-size: 2.4rem;
  text-align: right;
}

/* BLOG SECTION */

.blog-description {
  margin-bottom: 2.4rem;
}

.articles-cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4.8rem;
  padding: 0 4.8rem;
}

.article-card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

.article-img {
  width: 100%;
}

.article-card-content {
  padding: 0.8rem 1.2rem 1.2rem 1.2rem;
}

.article-title {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
}

.article-reading-time {
  background-color: var(--dark-blue);
  display: inline-block;
  text-align: center;
  color: var(--text-color-2);
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  border-radius: 100px;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}

.read-article {
  color: var(--link-color);
  display: inline-block;
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  position: absolute;
  bottom: 1.2rem;
  right: 1.2rem;
}

.article-1 {
  margin-bottom: 4.8rem;
}

.blog-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-button:link,
.blog-button:visited {
  color: var(--link-color);
  display: inline-block;
  font-size: 2.4rem;
  margin: 3.6rem 0rem;
}

.blog-button:active,
.blog-button:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
}

/* SERVICES */

.services-grid-wrapper {
  display: grid;
  margin: 4.8rem 4.8rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6.4rem;
}

.services-column {
  background-color: #222;
  background-image: radial-gradient(#333 2px, transparent 2px);
  background-size: 30px 30px;
  color: var(--text-color-2);
  padding: 1.2rem 2.4rem;
  border-radius: 8px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
}

.fa-solid {
  padding: 1.2rem 0 3.6rem 0.8rem;
}

.service-title {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--dark-blue);
  margin-bottom: 1.2rem;
}

.service-description {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

/* CONTACT */

.contact-heading {
  margin-top: 12rem;
}

.social-media-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.6rem;
  margin-bottom: 9.6rem;
}

.fa-brands {
  color: var(--text-color-1);
  transition: all 0.3s;
}

.fa-brands:hover,
.fa-brands:active {
  color: var(--link-color);
}

/* FOOTER */

footer {
  background-color: var(--text-color-1);
}

.footer-container {
  max-width: 130rem;
  margin: 0 auto;
  padding-left: 9.6rem;
  padding-right: 9.6rem;
  padding-top: 2rem;
}

.footer-text {
  font-size: 1.6rem;
  color: var(--text-color-2);
  padding-bottom: 2rem;
}
